# data files
data/*
# plot data
experiments/analysis/analysis_results/*
experiments/analysis/expected_results/*
experiments/plot/expected_results/*
# vendor
vendor/*

# IDE
.idea
.vscode

.DS_Store
*.tgz
*.tar
*.log

# Python compiled files
__pycache__
# Jupyter Notebook
.ipynb_checkpoints

# binary
bin/*
